services:
  db:
    image: postgres:15
    container_name: kronos_db
    restart: always
    env_file:
      - ./backend/.env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build: ./backend
    container_name: kronos_backend
    restart: always
    env_file:
      - ./backend/.env
    depends_on:
      - db
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
      - ./backend/session_exports:/app/session_exports
  frontend:
   build: ./frontend
   container_name: kronos_frontend
   restart: always
   depends_on:
    - backend
   ports:
    - "3000:80"


volumes:
  postgres_data:
